<!--TODO: Add search view functionality-->

<main>

  <div align="left">
    <h1>Search</h1>
  </div>

  <div class="search_bar">
    <form method="get" name="search_results" class=".input-field col s6" action="/results">
      <span>
        <input type="submit" id="submit" class="search_icon">
        <input id="search" type="text" class="typeahead" placeholder="Search">
      </span>
    </form>
  </div>

</main>


