main, header, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.select2-dropdown {
    display: none !important;
}

.search_bar {
    position: absolute;
    right: auto;
}
.search_bar .search_icon {
    position: absolute;
    right: 390px;
    border: none;
    background: url("/images/search_icon.png") center no-repeat;
    text-indent: -999em;
    border-radius: 0px;
    height: 40px;
    width: 35px;

}

.typeahead.tt-input {
    height: 40px;
    width: 380px;
    font-size: 24px ;
    line-height: 30px;
}

.tt-query,

.typeahead.tt-hint {
    font-size: 24px;
    height: 40px;
    color: #999999 !important;
}

 .tt-dropdown-menu {
    width: 380px;
    padding: 8px;
    font-size: 24px;
    background-color: #fff;
    border: 2px solid #e0e0e0;

}

.tt-suggestion {
    padding: 3px 10px;
    font-size: 24px;
    line-height: 24px;
}

.tt-cursor {
    color: #000000;
    border: none !important;
    border-radius: 4px !important;
    background-color: #cccccc;
}

.tt-suggestion p {
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
}
